it.linkem.rete.udm.sl.sh/Schemas/ChangeStatus/ChangeStatus_ProcVariables.xsd

<?xml version="1.0" encoding="utf-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" >

<element name="ChangeStatus_Parameters">
	<complexType>
		<sequence>
				<element maxOccurs="1" minOccurs="1" name="IMSI" type="string"/>
				<element maxOccurs="1" minOccurs="1" name="odbPOAccessEps" type="string"/>
		</sequence>

	</complexType>

</element>


</schema>