it.linkem.5g.contractActivation.md/Schemas/SharedVariableSchemas/Whitelist_stati_sottostatiMSV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it/linkem/5g/Whitelist_stati_sottostatiMSV/config/xsd" xmlns:tns="http://it/linkem/5g/Whitelist_stati_sottostatiMSV/config/xsd" elementFormDefault="qualified">


<element name="whiteList_Attivazione">
<complexType>
	<sequence>
		<element name="stati_sottostati" type="tns:stati_sottostatiType" minOccurs="0" maxOccurs="unbounded" />
	</sequence>
</complexType>

</element>


	<complexType name="stati_sottostatiType">
		<sequence>
			<element name="stato" 		type="string" />
			<element name="sottostato"  type="string" />								
		</sequence>
	</complexType>





</schema>