it.linkem.rete.udm.sl.sh/Schemas/Pcrf/PCRF_SimCheck.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/PCRF_SimCheck" xmlns:tns="http://www.example.org/PCRF_SimCheck" elementFormDefault="qualified">

<element name="PCRF_GetIMSIByIP_Input">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="IP" type="string"/>

			</sequence>
		</complexType>
	</element>
	<element name="PCRF_GetIMSIByIP_Output">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="IMSI" type="string"/>
				<element maxOccurs="1" minOccurs="1" name="ResponseCode" type="string"/>
			</sequence>
		</complexType>
	</element>

</schema>