Tibco.it.stub.PCRF/simulatoreReteSDL.module/Schemas/pcrfCrud/imsip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/imsip" xmlns:tns="http://www.example.org/imsip" elementFormDefault="qualified">
  <complexType name="imsip">
      <sequence>
  		  <element maxOccurs="1" minOccurs="1" name="ip" type="string"/>
	      <element maxOccurs="1" minOccurs="1" name="imsi" type="string"/>
   	  </sequence>  
  </complexType>
  <element name="pcrfSetImsiIpInputElement" type="tns:imsip"/>  
</schema>