Tibco.it.stub.SDL/it.linkem.stub.SDL.md/Schemas/sdl_schemas/udmInOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/udmInOut" xmlns:tns="http://www.example.org/udmInOut" elementFormDefault="qualified">
	<element name="udmInput" type="tns:inType"/>
	<complexType name="inType">
		<sequence>
			<element name="inputRequest" minOccurs="1" maxOccurs="1" type="string"/>
		</sequence>
	</complexType>
	<element name="udmOutput" type="tns:outType"/>
	<complexType name="outType">
		<sequence>
			<element name="outputResponse" minOccurs="1" maxOccurs="1" type="string"/>
		</sequence>
	</complexType>	
</schema>