Tibco.it.stub.SDL/it.linkem.stub.SDL.md/Schemas/Test/resetContractSimInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/resetContractSim" xmlns:tns="http://www.example.org/resetContractSim" elementFormDefault="qualified">
  <complexType name="resetContractSim">
      <sequence>
	      <element maxOccurs="1" minOccurs="0" name="imsi" type="string"/>
	      <element maxOccurs="1" minOccurs="1" name="testataContrattoId" type="string"/>
	      <element maxOccurs="1" minOccurs="0" name="IdContratto" type="string"/>
   	  </sequence>  
  </complexType>
  <element name="resetContractSimInputElement" type="tns:resetContractSim"/>  
</schema>