it.linkem.crm.microsoftDynamics.sl.sh/Schemas/Crm_Dynamics/CRM_GetSIMFromGuid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it/linkem/5g/MDYN/CRM_GetSIMFromGuid" xmlns:tns="http://www.example.org/CRM_GetSIMFromGuid" elementFormDefault="qualified">

<element name="GetSimfromGuid_Input">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="guid" type="string"/>
				<element maxOccurs="1" minOccurs="0" name="Azione" type="string"/>				
			</sequence>
		</complexType>
	</element>





</schema>