it.linkem.rete.pcrf.sl.sh/Schemas/Pcrf/PCRF_SimCheck.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it.linkem/rete/pcrf/getImsiByIp/sl/xsd" xmlns:tns="http://it.linkem/rete/pcrf/getImsiByIp/sl/xsd" elementFormDefault="qualified">

<element name="GetIMSIByIP_Input">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="IP" type="string"/>

			</sequence>
		</complexType>
	</element>
	<element name="GetIMSIByIP_Output">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="IMSI" type="string"/>
				<element maxOccurs="1" minOccurs="1" name="ResponseCode" type="string"/>
			</sequence>
		</complexType>
	</element>

</schema>