it.linkem.5g.contractChange.bsl.sh/Schemas/ContractChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it/linkem/5g/ContractChange/bsl/xsd"
	xmlns:tns="http://it/linkem/5g/ContractChange/bsl/xsd"
	elementFormDefault="qualified">
	
	<element name="ContractChange_Input">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="guid" type="string"/>
				<element maxOccurs="1" minOccurs="0" name="Azione" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ContractChange_Output">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="ResponseCode" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>
