it.linkem.5g.contractChange.bsl.sh/Schemas/ContractChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it/linkem/5g/ContractChange" xmlns:tns="http://www.example.org/ContractChange" elementFormDefault="qualified">

<element name="ContractChange_Input">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="0" name="guid" type="string"/>
				<element maxOccurs="1" minOccurs="0" name="Azione" type="string"/>				
			</sequence>
		</complexType>
	</element>



</schema>